.red.active{
    background:red;
}
.orange.active{
    background:orange;
}
.green.active{
    background:green;
}
.black.active{
    background:black;
}
.blue.active{
    background:blue;
}
.white.active{
    background:white;
}
.purple.active{
    background: purple;
}
div{
    border: 1px solid black;
    padding: 10px;
    transition: all 1s;
    display: flex;
    flex: 1;
    border-radius: 50%;
}
.red{
    width: 40vw;
    height: 40vw;
}

